.idea
project.xcworkspace
CrasheyePluginXcode.xcodeproj/xcuserdata/GangWang.xcuserdatad/xcschemes/CrasheyePluginXcode.xcscheme
CrasheyePluginXcode.xcodeproj/xcuserdata/GangWang.xcuserdatad/xcschemes/xcschememanagement.plist
